@use "../../sass/Utils/Variables.scss";

.Features {
  display: flex;
  padding-bottom: 5em;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 30px;
  }

  .F-Items {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    margin: 40px auto;
    padding: 2.5em;

    @media screen and (max-width: 768px) {
      padding: 0em 1em;
      width: 100%;
    }
  }

  img {
    width: 200px;
    border: 10px solid Variables.$fourthColor;
    border-radius: 50%;
    padding: 1em;
  }

  h3 {
    color: Variables.$primaryColor;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.2em;
  }
}
