@use "../../sass/Utils/Variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding-top: 1em;
  }
}

.navSign {
  margin-right: 1rem;
  font-size: 1.1em;
  font-weight: bold;
  color: Variables.$thirdColor;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
}

.navLogo {
  color: Variables.$thirdColor;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
.navLogo img {
  width: 200px;
  max-width: 100%;
  @media screen and (max-width: 768px) {
    width: 130px;
  }
}

.faCircleUser {
  font-size: 1.6em;
  padding-right: 0.5em;

  @media screen and (max-width: 768px) {
    font-size: 1.2em;
  }
}

.faSignOut {
  font-size: 1.1em;
  margin-right: 0.5rem;
  font-weight: bold;
  color: Variables.$thirdColor;

  @media screen and (max-width: 768px) {
    font-size: 0.8em;
    margin-right: 0.3em;
  }
}

.faSignouticon {
  color: Variables.$thirdColor;
  padding-right: 0.5em;
  @media screen and (max-width: 768px) {
    padding-right: 0.3em;
  }
}

.userName {
  padding-right: 1.5rem;
  font-size: 1.1em;
  font-weight: bold;
  color: Variables.$thirdColor;

  @media screen and (max-width: 768px) {
    padding-right: 0.5em;
    font-size: 1em;
  }
}
